.pokemon{
    flex-basis: 28%;
    height: 260px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    transition: transform 0.5s, box-shadow 0.3s;
    border-radius: 20px;


}
.pokemon-name{
    font-size: 20px;
    margin-top: 1.3rem;
    letter-spacing: 3px;
    color: black;
    text-transform: capitalize;
    text-decoration: wavy;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}
.pokemon-img {
    max-height: 80%;
    height: 180px;
    margin-top: 1.5rem;
}
.pokemon:hover{
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}